body{
	background: white;
	color: #000;
	overflow: hidden;
}
#topBar{
	border-radius: 3px;
	position: absolute;
	left: 25%;
	width: 50%;
	border-top:2px solid black; 
	border-bottom: 2px solid black;
}
.uiStandard{
	border-radius: 3px;
    border: 2px solid black;
   	height: 75%;
   	width: 40%;
    top: 12.5%;
    position: absolute;
	right: -43%;
	overflow-y:scroll;
	z-index: 1;
}
#cover{
    position: absolute;
    left: 25%;
    background: white;
    width: 50%;
    z-index: 9001;
}
#name{
	margin: 0px;
	display: inline;
}
#bottomBar{
	border-radius: 3px;
	position: absolute;
	left: 25%;
	width: 50%;
	border-top:2px solid black; 
	border-bottom: 2px solid black;
}
.textInit{
	opacity: 0;
	margin-left: 20px;
	margin-right: 20px;
}
h1{
	text-indent: 10px;
	margin: 0px;
}
a{
	color: #000;
}
.info{
	margin-left: 20px;
}
legend{
	text-indent: 10px;
	font-size: 15px;
	font-weight: bold;
}
b{
	margin-left: 20px;
}
p{
	margin: 5px;
	margin-left: 20px;
	margin-right: 20px;
	font-size:18px; 
}
button{
	background: transparent;
	border:none;
	color: black;
	display: inline;
	padding: 0px;
	text-align: center;
}
.buttons{
	opacity: 0;
	padding-top: .25em; 
}

#ProgrammingButton{
	position: absolute;
}
#interestsButton{
	position: absolute;
}
#EducationButton{
	position: absolute;
}
#AchievmentsButton{
	position: absolute;
}
#ExperienceButton{
	position: absolute;
}
#RefereesButton{
	position: absolute;
}
#copyLeft{
	position: absolute;
	right: 0px;
	margin: 0px;
}
#moreInfo{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
    border-top: 2px solid black;
	overflow-y:scroll;
}